addict==2.2.1
albumentations==0.4.5
appdirs==1.4.3
certifi==2020.4.5.1
chardet==3.0.4
cycler==0.10.0
Cython==0.29.17
decorator==4.4.2
future==0.18.2
idna==2.9
imagecodecs==2020.2.18
imagecorruptions==1.1.0
imageio==2.8.0
imgaug==0.2.6
joblib==0.14.1
kiwisolver==1.2.0
matplotlib==3.2.1
networkx==2.4
numpy==1.18.4
opencv-python==4.2.0.34
opencv-python-headless==4.2.0.34
packaging==20.3
pandas==1.0.3
Pillow==8.1.1
pooch==1.1.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
requests==2.23.0
scikit-image==0.17.1
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn==0.0
terminaltables==3.1.0
tifffile==2020.5.7
torch==1.5.0
torchvision==0.6.0
tqdm==4.46.0
urllib3==1.25.9
